.row {
    max-width: 114rem;
    /* background-color: lightgrey; */
    margin: 0 auto;
  }
  
  .row:not(:last-child) {
    /* margin-bottom: var(--gutter-vertical); */
  }
  
  .col-1-of-2 {
    background-color: var(--main-bg-color);
    float: left;
    width: calc((100% - 3rem) / 2);
  }
  
  .col-1-of-2:not(:last-child) {
    margin-right: 3rem;
  }
  
  .col-1-of-3 {
    background-color: var(--main-bg-color);
    color: white;
    float: left;
    width: calc((100% - 6rem) / 3);
  }
  
  .col-1-of-3:not(:last-child) {
    margin-right: 3rem;
  }