.BookForm {

}

.BookForm input{
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

.BookForm button{
    font-size: inherit;
    display: block;
    padding: 1rem;
    margin: 1rem;   
}