.Book {
    color: red;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
    padding: 3rem;
    height: 20rem;
}

.text-container {
    position: relative;
    /* top: 7.5rem; */
    top: calc(20rem / 2);
    transform: translate(0, -70%);
}

.image-container {
    width: 100px;
}